<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div name="navBar">
        <button><a href="c:\Users\maggs\Desktop\C#\portfolio\Views\Projects.cshtml"></a></button>
        <button><a href="c:\Users\maggs\Desktop\C#\portfolio\Views\Contact.cshtml"></a></button>
    </div>
    <h1>My Portfolio!</h1>

    <p> Hi! My Name is Maggie Gose!</p>

    <h2>About Me:</h2>
    <p>I am a 30 year old mom of soon to be two little girls. My oldest is almost 3 and my newest is due January 31, 2018. I live in Everett WA with my fiance. I enjoy many things including, coding, horseback riding, hanging with friends, eating, watching new tv shows, and just overall having a good time. I spend a lot of time with my daughter and my bestie Nikki. We have been best friends for almost 20 years and I don't see that ever changing. She is aslo in online school but for a completely different topic but it is still fun to study with her. I am your modern day housewife... between schooling, keeping up on household chorese, and taking care of my child I stay pretty busy. If you want to know more message me :D </p>
    
</body>
</html>