<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Projects</h1>
    
        <h3>My Portfolio</h3>
            <h4>Description:</h4>
                <p>This is just a little website about who I am. filled with some pictures and lots of words.</p>

        <h3>Login and Registration </h3>
            <h4> Description: </h4>
                <p>This is a work in progress in hopes of building a full website behind it. Something useful and fun for others to use and be a part of.</p>

        <h3> Basic 13 </h3>
            <h4> Description: </h4>
                <p> Oh how I hate functions and algorithms but I am pretty proud of myself for working through these and figuring them out!</p>
    
</body>
</html>